header {
  width: 100vw;
  height: 60px;
  margin-top: 0px;
  margin-bottom: 10px;
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
.logo {
  flex-basis: 20%;
  flex-shrink: 1;
}
.navbar {
  flex-basis: 45%;
  flex-shrink: 2;
}
.nav-links {
  flex-basis: 25%;
  flex-shrink: 1;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  margin-left: 5px;
}
.facebook-logo {
  color: blue;
  font-size: 2.5rem;
}
.search-icon {
  font-size: 1.2rem;
}
.searchInput {
  margin-left: 5px;
  border-radius: 1rem;
  background-color: rgba(205, 199, 199, 0.2);
  flex-basis: 80%;
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
}
.searchInput input {
  width: 90%;
  font-size: 0.8rem;
  background: none;
  border: none;
  color: rgba(142, 131, 131, 0.9);
  outline: none;
}

.nav {
  height: 100%;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}
.nav div {
  margin: 0px 10px;
}
.navbar-icon {
  font-size: 1.8rem;
  width: 5rem;
  color: blue;
}
.nav-link {
  list-style: none;
  display: inline;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: flex-end;
  margin: 20px;
  margin-right: 10px;
  margin-left: 15px;
}
.profile {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
}

.navlink-icon {
  font-size: 1.2rem;
  color: blue;
}
