aside {
  padding: 1rem;
  width: 100%;
  font-size: 1.2rem;
  .aside-profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding-left: 0px;
    img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      border: none;
    }
    .username {
      width: 100%;
    }
  }
  .aside-icons {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem;
    padding-left: 1rem;
    cursor: pointer;
  }
}
