aside {
  padding: 1rem 0.5rem;
}

.profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.aside-icons-container {
  display: flex;
  margin: 1rem;
  flex-direction: column;
  gap: 1rem;
}

.aside-icons {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  padding: 0.2rem;
}
